<section className="sharecards js-collapsable-container collapsable--close">
  <include
    src="title-fieldset.html"
    iconL="fas fa-share-alt"
    title="Comparte"
    iconR="fas fa-angle-up"
  ></include>

  <div className="share__content hidden__container">
    <div className="js-response message hidden"></div>
    <div className="button js-buttonCreateCard js-collapsable-container js-hidden">
      <i className="far fa-address-card button__icon"></i>
      <div className="button__text">Crear tarjeta</div>
    </div>
  </div>

  <div className="form__border"></div>

  <div className="shared hidden js-hiddentw">
    <h3 className="shared__text">La tarjeta ha sido creada:</h3>
    <div className="shared__link js-url"></div>
    <div className="shared__button ">
      <button className="shared__button--twitter js-buttontwiter">
        <i className="fa fa-twitter" title="Comparte en Twitter"></i
        ><a
          href="https://twitter.com/?lang=es"
          className="share__result--twitterlink js-twitter-link"
          data-show-count="false"
          target="_blank"
          >Compartir en twitter
        </a>
      </button>
    </div>
  </div>
</section>
<div className="form__border--share"></div>
</section>
